.Header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgb(2, 7, 82);
  z-index: 1000;

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      column-gap: 10px;
      flex-wrap: nowrap;
      a {
        color: #16e0ea;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 2px;
    box-shadow: 0 0 7px #4dee83;
  }
}