.users {
  width: 100%;
  .container {
    padding: 1rem;
  }

  .user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;

    li {
      background: #f0f0f0;
      padding: 0.5rem;
      text-align: center;
      border-radius: 8px;
      -webkit-transition: .3s linear;
      -moz-transition: .3s linear;
      -ms-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear;
      cursor: pointer;
      box-shadow: 3px 3px 6px #000;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }

      p {
        margin-top: 0.5rem;
      }
    }

    li:hover {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
}
